body {
  font-family: helvetica;
}


.title{
  font-size: 40px;
  background-color: lightblue;
}

.author{
font-size: 32px;
background-color: lightblue;

}

.category{
  font-size: 24px;
  background-color: lightblue;
}

.divbox{
  background-color:lightblue;
}
